
.subscription{
  max-width: 760px;
  margin: 0 auto;
}

.subscription-title{
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  margin: 100px 0 20px;
}

.subscription-text{
  font-size: 30px;
  font-weight: 700;
  margin: 0 0 50px;
  text-align: center;
}

.subscription-footer{
  margin-top: 30px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.subscription-cont{
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}

.subscription-data{
  margin-bottom: 15px;
  strong {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
  }
}

.subscription-data-text{
  background-color: #F7F5D3;
  padding: 10px;
  border-radius: 37px;
  max-width: 500px;
  margin: 0;
  margin-top: 10px;
}