version: "3.9"

services:
  redis:
    image: redis:7-alpine
    container_name: chatrassylka_redis
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis_data:/data
    restart: unless-stopped

  backend:
    build:
      context: ./backend
    container_name: chatrassylka_backend
    environment:
      NODE_ENV: production
      PORT: 3000
      REDIS_HOST: redis
      REDIS_PORT: 6379
      TG_API_ID: "38841476"
      TG_API_HASH: "f7d028dd897d7c54ed245b7a959bb68c"
      CAMPAIGN_REPEAT_ENABLED: "true"
      DEFAULT_TZ: Europe/Moscow
      # REDIS_URL: redis://redis:6379
      SMSRU_API_ID: ${SMSRU_API_ID}

      PRODAMUS_FORM_URL: ${PRODAMUS_FORM_URL}   # https://chatrassylka.payform.ru/
      PRODAMUS_SECRET_KEY: ${PRODAMUS_SECRET_KEY}


      SUPABASE_URL: ${SUPABASE_URL}
      SUPABASE_KEY: ${SUPABASE_KEY}
      JWT_SECRET: ${JWT_SECRET}
    depends_on:
      - redis
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      args:
        NEXT_PUBLIC_BACKEND_URL: /api
    container_name: chatrassylka_frontend
    depends_on:
      - backend
    environment:
      NODE_ENV: production
      NEXT_PUBLIC_BACKEND_URL: /api
      NODE_OPTIONS: --enable-source-maps
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    container_name: chatrassylka_nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./deploy/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./deploy/certbot/www:/var/www/certbot:ro
      - ./deploy/certbot/conf:/etc/letsencrypt:ro
    depends_on:
      - frontend
      - backend
    restart: unless-stopped


volumes:
  redis_data:

