.telegram{
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.telegram-title{
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.telegram-cont{
  max-width: 550px;
  width: 100%;
  padding: 25px;
  background-color: #F9EE91;
  border-radius: 37px;
}

.telegram-input-code{
  width: 200px;
  padding: 10px;
  border-radius: 10px;
}

.telegram-input-2fa{
  width: 240px;
  padding: 10px;
  border-radius: 10px;
}