.yellowContent{
  text-align: center;
}

.yellowContent-cont{
  background: #F9EE91;
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
  border-radius: 37px;
  padding: 50px;
}

.wa{
  max-width: 865px;
  margin: 0 auto;
  margin-top: 70px;
}

.wa-title{
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  text-align: center;
}

.wa-text{
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin: 20px 0 35px;

}